{% extends 'base.html.twig' %}

{% block title %}{{ Title }}{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
            <div class="row height d-flex justify-content-center align-items-center">
                <h4 class="text-center p-2">{{ content }}</h4>
                {{ form_widget(form.name) }}
            </div>
            <div class="p-2 text-center">
                {{ form_widget(form.search) }}
            </div>
        {{ form_end(form) }}
</div>
{% endblock %}
