{% extends 'base.html.twig' %}

{% block title %}{{ Title }}{% endblock %}

{% block body %}
<div>
    {{ form_start(form) }}
            <div class="form-group">
                <p class="sr-only">Which Ingredient you will add ?</p>
                {{ form_widget(form.input) }}
            </div>
            {{ form_widget(form.search) }}
        {{ form_end(form) }}
</div>
{% endblock %}
