{% extends 'base.html.twig' %}

{% block title %}{{ Title }}{% endblock %}

{% block body %}
<div class="col-sm-2 m-2 text-center">
    <div class="card border-dark mb-1 bg-white" style="max-width: 18rem;">
        <div class="card-body text-center">
            {{ form_start(form) }}
                <h4 class="text-center">Sandwich Name</h4>
                    {{ form_widget(form.name) }}
                <h4 class="text-center">Price</h4>
                {{ form_widget(form.price) }}
                <h4 class="text-center">ingredients</h4>
                {{ form_widget(form.ingredient) }}
                <div class="text-center p-3">
                {{ form_widget(form.search) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
